.Section {
  margin-left: 150px;
  margin-top: 150px;

  padding: 20px;
  /* text-align: center; */

  display: inline-block;
  border: 1px solid brown;
}

.Section__name {
}

button {
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.Section__btn {
}

.Section__statistics {
}

.Section__item {
}
